ipykernel
dotenv
langchain
langchain_community
langchain_google_genai
langchain_openai
langgraph
youtube-search-python
youtube-search
langchain_core
wikipedia
lxml
langchain-tavily
yfinance
ddgs
structlog
langchain_groq
fastapi
streamlit
psycopg2-binary
fpdf2
markdown
uvicorn